<h1>My partner</h1>

<% if !@error.nil? %>
<div class="alert alert-danger"><%= @error %></div>
<% else %>
<div class="well">
	<p><b>Name:</b> <%= @partner.name %></p>
	<p><b>Address:</b> <%= @partner.address %></p>
	<p><b>Phone:</b> <%= @partner.phone %></p>
	<p><b>E-mail:</b> <%= @partner.email %></p>
</div>
<% end %>
